html {
  min-height: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.3;
  color: inherit;
  text-rendering: optimizelegibility;
  font-weight: 500;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.9375em;
}

h6 {
  font-size: 0.786em;
}

p {
  line-height: 1.5;
}

* {
  font-family: 'Noto Sans', sans-serif;
}

body {
  height: 100%;
}

img {
  width: 100%;
}

.container {
  height: 100%;
  max-width: 100%;
}

.bg {
  left: 0;
  bottom: 0;
  z-index: -1;
  background-color: #fff;
  background-image: url(../images/bg-white.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center bottom;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media (min-width: 768px) {
  .bg {
    background-image: url(../images/bg-white-d.jpg);
  }
}

.bg.blue {
  background-color: #0368B1;
  background-image: url(../images/bg-blue.jpg);
}

@media (min-width: 768px) {
  .bg.blue {
    background-image: url(../images/bg-blue-d.jpg);
  }
}

.head {
  top: 0;
  left: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head__mid {
  top: 40px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1300px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (min-width: 768px) {
  .head__mid {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.head__mid--zero {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

@media (min-width: 768px) {
  .head__mid--zero {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 350px;
            flex: 0 0 350px;
    margin: 0 15px;
  }
}

.head__mid--one {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}

@media (min-width: 768px) {
  .head__mid--one {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 150px;
            flex: 0 0 150px;
    margin: 0 15px;
  }
}

.head__mid--two {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10%;
          flex: 0 0 10%;
}

@media (min-width: 768px) {
  .head__mid--two {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 65px;
            flex: 0 0 65px;
    margin: 0 15px;
  }
}

@media (max-width: 320px) {
  .head__text {
    font-size: 13px;
  }
}

.logo--left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}

@media (min-width: 768px) {
  .logo--left {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 150px;
            flex: 0 0 150px;
  }
}

.logo--right {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70%;
          flex: 0 0 70%;
}

@media (min-width: 768px) {
  .logo--right {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 425px;
            flex: 0 0 425px;
  }
}

.logo--indosat {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 27%;
          flex: 0 0 27%;
}

.logo--undp {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10%;
          flex: 0 0 10%;
}

.logo--kemenkopukm {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 55%;
          flex: 0 0 55%;
}

@media (min-width: 768px) {
  .content {
    width: 600px;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .content {
    width: 800px;
    margin: 0 auto;
  }
}

/* Hide the browser's default checkbox */
.input__wrap {
  cursor: pointer;
}

.input__wrap input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.input__custom {
  position: relative;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  display: inline-block;
  border-radius: 50%;
  border: solid 2px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 15px;
          flex: 0 0 15px;
  margin-right: 0.75rem;
  background-color: #fff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.input__custom:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.input__wrap input:checked ~ .input__custom:after {
  display: block;
}

/* Style the checkmark/indicator */
.input__wrap .input__custom:after {
  left: 0;
  top: 0;
  width: 8px;
  height: 8px;
  background: #005688;
  border-radius: 50%;
  margin: auto;
  right: 0;
  bottom: 0;
}

.input__shadow {
  -webkit-box-shadow: 1px 1px #fff, 2px 2px #005688;
          box-shadow: 1px 1px #fff, 2px 2px #005688;
}

.flex__dropdown p {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  margin-right: 10px;
}

.flex__dropdown select {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}

select {
  background-color: #fff;
}

.btn__next {
  background-color: #0368B1;
  color: #fff;
  border-color: #0368B1;
  -webkit-animation-name: pulse;
          animation-name: pulse;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.btn__change--white {
  background-color: #ff0000;
}

.disabled {
  background-color: #c3c3c3 !important;
  color: #919191;
  border-color: #919191;
}

.disabled:hover {
  cursor: not-allowed;
}

/* Works on Firefox */
.content-scroll {
  scrollbar-width: thin;
  scrollbar-color: #e6e6e6 #fff;
}

/* Works on Chrome, Edge, and Safari */
.content-scroll::-webkit-scrollbar {
  width: 12px;
}

.content-scroll::-webkit-scrollbar-track {
  background: #fff;
}

.content-scroll::-webkit-scrollbar-thumb {
  background-color: #e6e6e6;
  border-radius: 20px;
  border: 3px solid #fff;
}

@-webkit-keyframes pulse {
  50% {
    -webkit-transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

@keyframes pulse {
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.my-4.grid.grid-cols-2 {
  -ms-grid-rows: (minmax(0, 1fr))[9];
      grid-template-rows: repeat(9, minmax(0, 1fr));
  grid-auto-flow: column;
}

.my-4.grid.grid-cols-2.grid__fixed {
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-auto-flow: row;
}

.multiple__input small {
  margin-left: 28px;
  display: inline-block;
}

.main__title {
  padding-top: 40px;
}
/*# sourceMappingURL=styles.css.map */